<!-- Component Template -->

<div class="className">
    <h1>Hello There</h1>
    <h2>This is the standard page of this project</h2>
    <h3>Manipulate the src/routes and the src/viels to create new things!</h3>
</div>